body {
    background: #1a51d333;
}
.mynav{
    background: #000;
    opacity: 0.8;
    .navber-item{
        padding-left: 1em;
    }
    .navber-link{
        text-transform: uppercase;
    }
}
.carousel-item{
    height: 500px;
}
.sli

